.userTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;

  span {
    font-size: 20px;
  }
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
